[Unit]
Description=Digital Radio Alarm - station management web page
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/bin/python3 -m src.web.app
WorkingDirectory=/home/pi/DigitalRadioAlarm
Restart=on-failure
User=pi

[Install]
WantedBy=multi-user.target
